doctype html
html
  head
    meta(charset='utf-8')
    title MINET X 2017
    meta(charset='utf-8')
    meta(name='author', content='The MINET Team')
    meta(name='description', content='MINET X is The Mother\'s International School\'s annual technology symposium.')
    meta(name='keywords', content='MINET X 2017 The Mother\'s International School Make')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    link(rel='icon', type='image/png', href='/img/icon.png')
    link(rel='apple-touch-icon-precomposed', href='/img/icon.png')
    meta(name='theme-color', content='#2979FF')
  body
        
    block content
    
    include footer
      
