extends layout

block content
  
  section#form.grey
    .container
      .row
        .twelve.columns
          .card.form
            if error
              p.center.error= error
            form(action='/login', method='post')
              label(for='username') Username:
              input#username(type='text', name='username', placeholder='Username', required)
              label(for='password') Password:
              input#password(type='password', name='password', placeholder='Password', required)
              input(type='submit', value='Login')
